@import '../css/variables';
@import '../css/null';

// App.vue

#app {
  height: 100%;

  .column {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.stretch2 {
  height: calc(100% - 60px);

  display: flex;
  justify-content: space-between;
}


// ChatRoom.vue
@import '../components/css/chat-room';

// LoginPanel.vue
@import '../components/css/login-panel';

// Messenger.vue
@import '../components/messenger/css/messenger';

// MessengerPanel.vue
@import '../components/messenger/css/messenger-panel';

// MessengerContacts.vue
@import '../components/messenger/css/messenger-contacts';

// MessengerChat.vue
@import '../components/messenger/css/messenger-chat';

// Avatar.vue
@import '../components/messenger/css/avatar';


// дебаг
//$debug: true;

.messenger,
  // ,.messenger-panel,
  // .messenger-panel__use
  // .messenger-panel__chat
  //  .messenger-contacts
.messenger-chat__form
  //,.messenger-chat
{
  @include d(blue);
}

.messenger-demo {
  // @include d(green);
}

