// окно чата
.messenger-chat {
  flex: 1 1 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__list {
    flex: 1 1 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // background: url('../assets/img/bg-chat.jpg') repeat fixed;
    // background-size: 200px 200px;
    background-image: linear-gradient(to top right, rgb(226, 227, 240), rgb(226, 223, 236), rgb(226, 220, 232), rgb(227, 216, 228), rgb(227, 213, 224), rgb(227, 209, 220), rgb(225, 213, 222), rgb(223, 217, 223), rgb(221, 221, 225), rgb(218, 224, 227), rgb(216, 228, 228), rgb(214, 232, 230));

    .message-in, .message-out, .message-system {
      margin-bottom: 12px;
      display: flex;

      .message__block { // общий блок
        position: relative;

        width: 80%;
        margin: 0 25px;
        padding: 10px;

        border-radius: 5px;

        font-size: $messageFontSize;
      }

      .message__date {
        display: block;
        text-align: right;
        font-size: 10px;
        color: dimgrey;
      }

    }

    .message-in { // входящий
      .message__block {
        background-color: $messageInColor;
        border: 1px solid darken($messageInColor, 20%);

        &:after {
          content: '';
          position: absolute;
          background-color: $messageInColor;
          border-top: 1px solid darken($messageInColor, 20%);
          border-left: 1px solid darken($messageInColor, 20%);
          width: 20px;
          height: 10px;
          top: -1px;
          left: -4px;
          transform: skew(30deg, 0);
        }

      }
    }

    .message-out { // исходящий
      flex-direction: row-reverse; // справа

      .message__block {
        background-color: $messageOutColor;
        border: 1px solid darken($messageOutColor, 20%);

        &:after {
          content: '';
          position: absolute;
          background-color: $messageOutColor;
          border-top: 1px solid darken($messageOutColor, 20%);
          border-right: 1px solid darken($messageOutColor, 20%);
          width: 20px;
          height: 10px;
          top: -1px;
          right: -4px;
          transform: skew(-30deg, 0);
        }
      }
    }

    .message-system { // системные
      justify-content: center;

      .message__block {
        background-color: $messageSystemColor;
        border: 1px solid darken($messageSystemColor, 20%);
        text-align: center;
        font-size: 1.4em;
      }
    }
  }

  // форма отправки
  &__form {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: darken($panelBgColor, 20%);
  }

  &__input {
    width: 90%;
    min-height: 50px;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;

    resize: none;
  }

  &__send {
    background-color: lighten(#00b0e8, 40%);

    height: 85px;
    margin: 0 10px 0 0;
    padding: 0 5px;
    border-radius: 5px;

    &:hover {
      background-color: #00b0e8;
      color: #fff;
    }

  }

  // узкий экран
  @mixin small {
    &.active {
    }
    &:not(.active) {
      display: none;
    }
  }

  @media screen and (max-width: $small) {
    @include small;
  }

  .small & {
    @include small;
  }
}
