// окно месенджера

.messenger {
  flex: 1 1 40%;
  width: 100%;
  margin: 4px;
  border: 1px solid darken($panelBgColor, 60%);

  .stretch {
    height: calc(100% - 60px);

    display: flex;
    justify-content: space-between;
  }

}
